* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header{
    background-color: #1f2937;
    color: white;
}

.header_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 490px;
    margin-left: 30px;
    min-height: 50px;
}
.header_logo{
    font-size: 12px;
    font-weight: 800;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 300;
}

.section_one{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    min-height: 400px;
}

.container_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-basis: 500px;
    min-height: 250px;
    margin: 40px;
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.description{
    font-size: 20px;
}

.sign_up_button{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    margin:10px 0px;
    background-color: #3882f6;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.sign_up_button h1{
    font-size: 15px;
    font-weight: 800;
}

.image_placeholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex-basis: 500px;
    min-height: 250px;
}

.image_placeholder h1{
    font-size: 15px;
}

.section_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_two_header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 50px;
}

.square_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square_1,
.square_2,
.square_3,
.square_4 {
    min-width: 150px;
    min-height: 150px;
    margin: 0px 30px 0px;
    border-radius: 10px;
    border-color: #3882f6;
    border-style: solid;
}

.text_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_1,
.text_2,
.text_3,
.text_4{
    flex-basis: 150px;
    margin: 10px 30px 0px;
    text-align: center;
    color: #1f2937;
    font-size: 16px;
    font-weight: 500;
}

.section_three{
    background-color: #e5e7eb;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.quote{
    display: flex;
    flex-direction: column;
}

.quote_text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
    max-width: 800px;
}

.quote_author{
    font-size: 25px;
    font-weight: 800;
    color: #1f2937;
    align-self: flex-end;
}